@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: "Be Vietnam Pro", sans-serif;
}

.container {
	max-width: 1500px;
	padding: 0px 15px;
	margin: 0 auto;
}

h3 {
	color: #f37a7a;
	font-weight: 600;
	font-size: 40px;
	text-align: center;
	padding: 0 0 65px 0;
}

p {
	font-weight: 300;
	font-size: 35px;
	color: #818080;
}

/* Header */
.header {
	padding: 120px 90px;
}

.header .header__flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.header .header__text {
	width: 630px;
	height: 440px;
}

.header .header__text h2 {
	color: #3a3a3a;
	font-weight: 600;
	font-size: 50px;
	padding: 0 0 40px 0;
}

.header .header__text p {
	padding: 0 0 40px 0;
}

.header .header__text button {
	color: #fff;
	font-weight: 400;
	font-size: 35px;
	background: #e84949;
	padding: 10px 24px;
	border: none;
	border-radius: 5px;
	transition: 0.3s;
}

.header .header__text button:hover {
	box-shadow: 10px 10px 10px black;
}

.header .header__img {
	position: relative;
	padding: 70px;
}

.header .header__img .desktop {
	position: absolute;
}

.header .header__img img:nth-of-type(1) {
	width: 100%;
}

/* CIRCLE */
.header .header__img img:nth-of-type(2) {
	bottom: 0;
	right: 60px;
}

/* CUBE */
.header .header__img img:nth-of-type(3) {
	top: 5px;
	right: 70px;
}

/* PLUS */
.header .header__img img:nth-of-type(4) {
	top: 15px;
	left: 220px;
}

/* ELLIPSE */
.header .header__img img:nth-of-type(5) {
	bottom: 0;
	left: 10px;
}

/* ZigZag */
.header .header__img img:nth-of-type(6) {
	left: 0px;
	top: 30px;
}

.header .header__img .mobile {
	display: none;
}

/* Skills */
.skills {
	padding: 0 0 70px 0;
}

.skills__flex {
	display: flex;
	justify-content: space-between;
}

.skills__text {
	width: 690px;
	height: 475px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	row-gap: 20px;
}

.skills__text p {
	grid-column: 1 / 4;
}

.skills__text img {
	padding: 0 0 0 40px;
}

.skills__img img {
	width: 100%;
	text-align: center;
}
/* MEDIA */

@media (max-width: 1200px) {
	.container {
		width: 360px;
		padding: 0px 15px;
		margin: 0 auto;
	}

	h3 {
		font-size: 25px;
	}

	p {
		font-size: 18px;
	}

	/* Header Mobile */
	.header {
		padding: 90px 30px;
	}

	.header .header__flex {
		flex-direction: column-reverse;
		gap: 20px;
	}

	.header .header__text {
		text-align: center;
		width: 300px;
		height: 260px;
	}

	.header .header__text h2 {
		font-size: 32px;
	}

	.header .header__text button {
		font-size: 18px;
	}

	.header .header__img {
		padding: 40px;
	}

	.header .header__img .desktop {
		display: none;
	}

	.header .header__img .mobile {
		display: block;
		position: absolute;
	}

	/* Circle Mobile */
	.header .header__img img:nth-of-type(7) {
		right: 40px;
		bottom: 10px;
	}

	/* Cube Mobile */
	.header .header__img img:nth-of-type(8) {
		top: 10px;
		right: 60px;
	}

	/* Plus Mobile */
	.header .header__img img:nth-of-type(9) {
		top: 10px;
		left: 120px;
	}

	/* Ellipse Mobile */
	.header .header__img img:nth-of-type(10) {
		bottom: 20px;
		left: 10px;
	}

	/* Zigzag Mobile */
	.header .header__img img:nth-of-type(11) {
		top: 10px;
		left: 10px;
	}

	/* Skills Mobile */
	.skills {
		padding: 50px 25px 100px 25px;
	}

	.skills__flex {
		flex-direction: column-reverse;
	}

	.skills__text {
		width: auto;
		height: auto;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.skills__text p {
		grid-column: 1 / 3;
		text-align: center;
		padding: 10px 0 0 0;
	}

	.skills__text img {
		padding: 0 20px;
	}
}
