:root {
	--prime-color: #000000;
	--prime-font-size: 25px;
	--prime-nav-size: 20px;
	/* https://www.schemecolor.com */
	--prime-fb-color: #4267b2;
	--prime-twit-color: #1da1f2;
	--prime-git-color: #333333;
	--prime-linkn-color: #0077b5;
	--prime-telegram-color: #0088cc;
	--prime-tt-color: #ff0050;
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Segoe UI", sans-serif;
}

.container {
	width: 1680px;
	height: 1050px;
	margin: 0 auto;
}

/* Header */

.container .header {
	width: 1499px;
	height: 40px;
	left: 112px;
	top: 59px;
	margin: 59px 800px 0 112px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* position: sticky;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	padding: 20px; */
}

.container .header .logo {
	display: flex;
	align-items: center;
	gap: 20px;
}

/* logo__img can be used /wOut hover (will be spin and return to start position) */
.container .header .logo .logo__img:hover {
	transform: rotate(0);
	transition: 0.2s;
}

.container .header .logo .logo__img:hover {
	transform: rotate(60deg);
}

.container .header .logo .logo__header {
	font-size: var(--prime-font-size);
	color: var(--prime-color);
	font-weight: 700;
	line-height: 33.25px;
}

.container .header .nav {
	display: flex;
}

.container .header .nav ul {
	display: flex;
	align-items: center;
	gap: 22px;
}

.container .header .nav ul li a {
	font-size: var(--prime-nav-size);
	color: var(--prime-color);
	line-height: 26.6px;
	font-weight: 600;
	padding: 0 10px;
}

.container .header button {
	margin-left: 74px;
	border: none;
	cursor: pointer;
	background: #ffffff; /* REMOVE FOR GLASSMORPHISM HEADER */
}

/* Main */

.container .main {
	margin: 10px 84px 10px 112px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
/* 
.container .main .main__section0 {
	border: 1px solid red;
	margin: 0;
} */

.container .main .main__section0 .section0__hello {
	width: 191px;
	height: 44px;
	left: 312px;
	top: 314px;
	font-weight: 700;
	font-size: 36px;
	line-height: 47.88px;
	color: #ffffff;
	/* background: linear-gradient(90deg, #32f6f6 0%, #a6a78f 100%);  DEFAULT */
	background: linear-gradient(90deg, #2193b0, #6dd5ed); /*  */
	border-radius: 100px 50px 50px 5px;
	text-align: center;
	margin-bottom: 10px;
}

.container .main .main__section0 .section0__header {
	font-weight: 600;
	font-size: 64px;
	line-height: 85.13px;
}

.container .main .main__section0 .section0__header span {
	color: #737373;
	text-decoration: black solid underline;
	transition: 0.5s;
}

.container .main .main__section0 .section0__header span:hover {
	color: #000000;
	text-decoration: #737373 solid underline;
}

.container .main .main__section0 .section0__p {
	font-weight: 300;
	font-size: 30px;
	line-height: 39.9px;
	color: var(--prime-color);
	margin-top: 7px;
}

.container .main .main__section0 .section0__btn__left {
	width: 175px;
	height: 60px;
	font-weight: 900;
	font-size: 20px;
	background: linear-gradient(90deg, #df580c 0%, #fd993d 100%);
	border: 3px solid #ffffff;
	color: #fefefe;
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin: 102px 25px 0 0;
	cursor: pointer;
	transition: 0.2s;
}

.container .main .main__section0 .section0__btn__left:hover {
	background: linear-gradient(90deg, #40e0d0, #ff8c00, #ff0080);
}

.container .main .main__section0 .section0__btn__right {
	width: 175px;
	height: 60px;
	color: #fefefe;
	background: linear-gradient(90deg, #434343 0%, #000000 100%);
	border: 3px solid #ffffff;
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	font-weight: 900;
	font-size: 20px;
	cursor: pointer;
	transition: 0.2s;
}

.container .main .main__section0 .section0__btn__right:hover {
	padding: 90px;
}

/* Absolute position links */

.container .main .absolute__container {
	position: relative;
}

/* .container .main .absolute__container .main__links {
	display: flex;
	flex-direction: column;
	position: absolute;
	font-size: 25px;
	justify-content: space-around;
	height: 350px;
	margin-left: 25px;
	right: 1500px;
	z-index: 1;
	bottom: -500px;
} */

.container .main .absolute__container .main__links {
	display: flex;
	flex-direction: column;
	position: fixed;
	font-size: 25px;
	justify-content: space-around;
	height: 350px;
	z-index: 1;
	margin-left: 25px;
	left: 1px;
	bottom: 100px;
}

.container .main .absolute__container .main__links a {
	color: #000000;
	transition: 0.3s;
}

/* MAIN LINKS HOVER START */

.container .main .absolute__container .main__links a:hover {
	padding: 10px;
}

.container .main .absolute__container .main__links .fb:hover {
	color: var(--prime-fb-color);
}

.container .main .absolute__container .main__links .inst:hover {
	background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
	/* background: linear-gradient(to right, #405de6, #5b51d8, #833ab4, #c13584); 
	ORIGINAL INSTAGRAM GRADIENT COLOR, BUT ITS LOOK SO AWFUL
	*/
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.container .main .absolute__container .main__links .twit:hover {
	color: var(--prime-twit-color);
}

.container .main .absolute__container .main__links .git:hover {
	color: var(--prime-git-color);
}

.container .main .absolute__container .main__links .linkn:hover {
	color: var(--prime-linkn-color);
}

.container .main .absolute__container .main__links .telegram:hover {
	color: var(--prime-telegram-color);
}

.container .main .absolute__container .main__links .tt:hover {
	/* color: var(--prime-tt-color); */
	color: black;
	text-shadow: -6px 0 #69c9d0, 0 2px #ffffff, 6px 0 #ee1d52;
	/* text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
		-1px -1px #fff, 1px -1px #fff, -1px 1px #fff;  Stackoverflow template*/
}

/* MAIN LINKS HOVER END */

/* .container .main .absolute__container .main__email a {
	position: absolute;
	font-size: 17px;
	font-weight: 600;
	bottom: -450px;
	color: #000000;
	writing-mode: vertical-lr;
	z-index: 1;
} */

.container .main .absolute__container .main__email a {
	position: fixed;
	font-size: 17px;
	font-weight: 600;
	bottom: 130px;
	color: #000000;
	writing-mode: vertical-lr;
	z-index: 1;
}

.container .main .absolute__container .main__email a span {
	margin-top: 20px;
	font-size: 40px;
}

.container .main__section2 {
	margin: 10px auto;
	width: 1000px;
	height: 80px;
	padding-left: 30px;
}

.container .main__section2 .section2__header {
	font-weight: 500;
	font-size: 64px;
	margin: 0 0 37px 25px;
}

/* .container .main__section2 .section2__header::after {
	content: "";
	border-bottom: 2px solid black;
} */

/* Smthg WRONG */
/* .container .main__section2 .section2__header::after {
	content: "";
	position: absolute;
	background: #000;
	height: 3px;
	width: 20%;
	bottom: 70px;
	right: 730px;
	transition: 0.3s;
} */

.container .main__section2 .section2__header strong {
	font-weight: 700;
}

.container .main__section2 .section2__p {
	font-weight: 300;
	font-size: 20px;
	color: #000000;
	margin: 25px;
}

.container .main__section2 .section2__hr {
	width: 40%;
	margin: 50px auto;
}

.container .main__section2 .vector-hand {
	position: absolute;
	left: 1px;
	top: 800px;
	width: 400px;
	z-index: -1;
}

.container .main__section2 .vector-yellow {
	position: absolute;
	left: 140px;
	top: 1300px;
	z-index: -1;
	/* Bottom */
}

.container .main__section2 .vector-gray {
	position: absolute;
	right: 200px;
	top: 1290px;
	z-index: -1;
}

.container .main__section2 .vector-yellow-big {
	position: absolute;
	right: 1px;
	top: 600px;
	width: 460px;
	z-index: -1;
}

/* Position Absolute  */
/* Position Relative */
