* {
	margin: 0;
	padding: 0;
	box-sizing: none;
	font-family: sans-serif;
}

:root {
	--prime-black: #312614;
	--prime-brown: #b7832f;
	--prime-gray: #707070;
	--prime-white: #ffffff;
}

img {
	max-width: 100%;
}

.container {
	width: 95%;
	max-width: 980px;
	margin: 0 auto;
}

.columns {
	display: flex;
}
