@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--primary-color: #ff0043;
	--primary-text-color: #00194a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
}

/* HEADER */

.header {
	width: 1440px;
	height: 46px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 100px;
}

.header .header__h1 {
	height: 23px;
	font-weight: 700;
	font-size: 20px;
	color: var(--primary-color);
}

.header .header__btn {
	background: var(--primary-color);
	box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
	border-radius: 23px;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	height: 35px;
	width: 104px;
	border: none;
	transition: 0.3s;
}

.header .header__btn:hover {
	background: #000000;
	color: white;
}

/* MAIN */

/* .main{} */

.main__section0 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main .main__section0 .section0__header {
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 60px;
	line-height: 85px;
}

.main .main__section0 .section0__p {
	color: var(--primary-text-color);
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	mix-blend-mode: normal;
	opacity: 0.8;
}

.main .main__section0 .section0__btn {
	color: #ffffff;
	font-size: 16px;
	line-height: 19px;
	background: var(--primary-color);
	box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
	border-radius: 30px;
	width: 275px;
	height: 60px;
	border: none;
	text-align: center;
	margin-top: 50px;
	transition: 0.3s;
}

.main .main__section0 .section0__btn:hover {
	color: white;
	background: #000000;
}

/* ANDROID IOS PC SECTION */

.main .main__section1 {
	width: 1440px;
	margin: 50px auto;
	height: 272px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main .main__section1 .section1__android,
.section1__ios,
.section1__pc {
	padding: 15px;
	width: 400px;
	height: 315px;
	background-color: #ffffff;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
	border-radius: 10px;
}

.main .main__section1 .section1__android i,
.section1__ios i,
.section1__pc i {
	color: var(--primary-color);
	width: 40px;
	height: 48px;
	font-size: 40px;
}

.main .main__section1 .section1__android .android__header,
.ios__header,
.pc__header {
	margin-top: 20px;
	color: var(--primary-text-color);
	font-weight: 500;
	line-height: 25px;
	font-size: 22px;
}

.main .main__section1 .section1__android .android__p,
.ios__p,
.pc__p {
	margin-top: 15px;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: var(--primary-text-color);
	mix-blend-mode: normal;
	opacity: 0.8;
}

.main .main__section1 .section1__download {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.main .main__section1 .section1__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: var(--primary-text-color);
	mix-blend-mode: normal;
	opacity: 50%;
	transition: 0.3s;
}

.main .main__section1 .section1__link:hover {
	font-weight: 400;
	font-size: 20px;
	line-height: 18px;
	text-decoration: underline;
	color: black;
	mix-blend-mode: normal;
	opacity: 80%;
}
