@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: "Be Vietnam Pro", sans-serif;
}

.container {
	max-width: 1500px;
	padding: 0px 15px;
	margin: 0 auto;
}

h3 {
	color: #f37a7a;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	padding: 0 0 65px 0;
}

p {
	font-weight: 300;
	font-size: 35px;
	color: #838383;
}

/* Header */
.header {
	padding: 130px 90px;
}

.header__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__text {
	width: 630px;
	height: 440px;
}

.header__text h2 {
	font-weight: 600;
	font-size: 50px;
	color: #3a3a3a;
	padding: 0 0 40px 0;
}

.header__text p {
	padding: 0 0 40px 0;
}

.header__text button {
	font-weight: 400;
	font-size: 35px;
	color: #fff;
	background: #e84949;
	padding: 10px 24px;
	border: none;
	border-radius: 5px;
	transition: 0.2s;
}

.header__text button:hover {
	box-shadow: 10px 10px black;
}

.header__img {
	position: relative;
	padding: 70px;
}

/* Absolute */

.header__img .desktop {
	position: absolute;
}

/* Plus Desktop */
.header__img img:nth-of-type(2) {
	top: 1px;
	left: 230px;
}

/* Ellipse Desktop */
.header__img img:nth-of-type(3) {
	bottom: 0;
	left: 0;
}

.header__img img:nth-of-type(4) {
	top: 1px;
}

.header__img img:nth-of-type(5) {
	top: 1px;
	left: 0;
}

.header__img img:nth-of-type(6) {
	bottom: 0;
	right: 40px;
}

.header__img .mobile {
	display: none;
}

/* Skills */
.skills {
	padding: 0 0 70px 0;
}

.skills__flex {
	display: flex;
	justify-content: space-between;
}

.skills__text {
	width: 690px;
	height: 475px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 20px;
}

.skills__text p {
	grid-column: 1 / 4;
}

/* Projects */
.projects__header {
	display: flex;
	justify-content: center;
	gap: 20px;
	align-items: flex-start;
}

.projects p {
	text-align: center;
	padding: 0 0 60px 0;
}

.projects__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.projects__container div {
	width: 400px;
	height: 500px;
	border: 5px solid transparent;
	border-image: linear-gradient(to left, #0d54be, #20ecd3);
	border-image-slice: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.projects__container div img {
	grid-column: 1 / 4;
}

/* Mobile */
@media (max-width: 1200px) {
	.container {
		max-width: 360px;
		padding: 0px 15px;
		margin: 0 auto;
	}
}
